body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  width: 100%;
}

.login {
  display: flex;
  background-color: #133563;
  height: 100vh;
}

.login2 {
  max-width: 60%;
  padding-left: 32vh;
  padding-right: 32vh;
  padding-top: 50vh;
  align-items: center;
  justify-content: center;
}